
.c_body_bg {
    position: relative;
    width: 100%;
    background-color: skyblue;
    background: url('../../chingu_soloProject/img/text-bg2.jpg') center / cover no-repeat;
    background-size: cover;
    overflow: hidden;
}

.c_body_wrap {
    position: relative;
    width: 600px;
    text-align: center;
    padding: 10% 0;
}

.c_body {
        margin-top: 30%;
    }

.c_body_btn {
    cursor: pointer;
    width: 300px;
    margin-top: 4%;
    padding: 0 40px;
    height: 60px;
    line-height: 60px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 3px 20px rgba(40, 40, 40, 0.2);
    border: 0;
}

@media only screen and (max-width: 450px) {

    .c_body_wrap {
        width: 100%;
        height: 100%;
        padding: 40% 0;
    }

    .c_body {
        margin-top: 1%;
    }

    .c_body_btn {
        margin-top: 2%;
        width: 200px;
        padding: 0 10px;
        height: 40px;
        line-height: 40px;
    }
}

@media only screen and (min-width: 450px) and (max-width: 600px) {

    .c_body_wrap {
        width: 100%;
        height: 100%;
        padding: 1% 0;
    }

    .c_body {
        margin-top: 1%;
    }

    .c_body_btn {
        margin-top: 2%;
        width: 200px;
        padding: 0 10px;
        height: 40px;
        line-height: 40px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 700px) {
    
    .c_body_bg {
        background-size: cover;
    }

    .c_body_wrap {
        width: 100%;
        height: 100%;
        padding: 1% 0;
    }

    .b_body {
        margin-top: 1%;
    }

    .c_body_btn {
        margin-top: 5%;
        width: 250px;
        padding: 0 20px;
        height: 60px;
        line-height: 60px;
    }
}