
/* font colors */
.b_white {
    color: white;
}

.b_black {
    color: rgb(40, 40, 40);
}

/* font effects */
.b_shadow {
    text-shadow: 0 3px 5px rgba(40, 40, 40, 0.7);
}

/* font sizes */

h1 {
    font-size: 10rem;
    line-height: 10rem;
    font-weight: 600;
}

.b_greet {
    font-size: 2.5rem;
    line-height: 2.5rem;
    font-weight: 600;
}

.b_body {
    font-size: 1.5rem;
    line-height: 2.25rem;
    font-weight: 300;
}

.b_button {
    font-size: 1rem;
    font-weight: 600;
}

.b_nav_link, 
.b_footer {
    font-size: 0.75rem;
    font-weight: 300;
}

@media only screen and (max-width: 450px) {
    
    h1 {
        font-size: 4rem;
        line-height: 4rem;
    }

    .b_greet {
        font-size: 1.75rem;
        line-height: 2.25rem;
    }

    .b_body {
        font-size: 0.9rem;
        line-height: 1.4rem;
    }
    
}

@media only screen and (min-width: 450px) and (max-width: 600px) {
    
    h1 {
        font-size: 2rem;
        line-height: 2rem;
    }

    .b_greet {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .b_body {
        font-size: 0.9rem;
        line-height: 1.4rem;
    }
    
}

@media only screen and (min-width: 600px) and (max-width: 1000px) {
    
    h1 {
        font-size: 4rem;
        line-height: 4rem;
    }

    .b_greet {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .b_body {
        font-size: 0.9rem;
        line-height: 1.4rem;
    }
    
}