.l_m0auto {
    margin: 0 auto; 
}

.l_mt-45pc {
    margin-top: 50%;
}

.l_mt-30pc {
    margin-top: 30%;
}

.l_mt-25pc {
    margin-top: 25%;
}

.l_mt-15pc {
    margin-top: 15%;
}

.l_mt-5pc {
    margin-top: 5%;
}