.o_footer {
    width: 100%;
    height: 40px;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    left: 0;
    bottom: 0;
    padding: 0 40px;
    background-color: transparent;
    line-height: 40px;
}

.o_footer_links {
    display: flex;
    justify-content: start;
}

.o_footer_link {
    text-align: center;
    width: 40px;
    margin-right: 20px;
    list-style: none;
}

.o_footer_link:last-child {
    margin-right: 0px;
}

@media only screen and  (max-width: 600px) {
    
    .o_footer {
        /* margin-top: 20%; */
        height: auto;
        line-height: 40px;
    }

    .o_footer_quote, .o_footer_bg-info {
    flex-basis: 50%;
    }

    .o_footer div {
        text-align: center;
    }

    .o_footer_links {
        justify-content: center;
        flex-basis: 100%;
    }

}